/packages/*/node_modules
*.env
/packages/*/dist/
/node_modules
.vercel
*.DS_Store
packages/.DS_Store
.idea/
*.iml
packages/client/*.env
packages/server/*.env
**/yarn.lock
dev-mongodb/data/*
packages/.DS_Store
